.title {
    display: flex;
    text-align: center;
    padding: 1.2%;
    color: rgba(255, 0, 0, 0.5);
}

.chart {
    box-shadow: .3px .3px 1px .3px darkgray;
    border-radius: .5%;
    margin-top: auto;

}

#not-found {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    color: rgb(192, 192, 192, 0.9)
}

.view {
    display: grid;
    grid-template-columns: 60% 15% 15%;
    justify-content: end;
    padding: 1%;

}

.view p {
    font-weight: bold;
    font-size: 2rem;
    color: rgb(192, 192, 192, 0.9)
}

.view input[type='text'] {
    padding: 2%;
    border: none;
    border-bottom: 2px solid red;
    color: gray;

}

.view input[type='text']:hover {
    border-bottom: 2px solid rgba(255, 16, 39, 0.5);
    transition: all 200ms;
}

.view input[type='text']:focus {
    outline: 0;
    background: transparent;
    color: grey;
}


.view input[type='submit'] {
    color: grey;
    border: none;
    border-bottom: 2px solid blue;
    background-color: white;
    width: auto;
    padding: 2%;
}

.view input[type='submit']:active {
    transform: scale(1.1);
}


.view input[type='submit']:hover {
    border-bottom: 2px ridge rgba(0, 111, 255, 0.53);
    transition: all 200ms;
    cursor: pointer;
}


@media (max-width: 850px) {
    .view {
        display: flex;
        flex-direction: column;
    }
}